<div class="muestra_libros"  *ngIf="books.length > 0; else noHay">

  <div class="ng-container">
    <form class="d-flex" role="search">
        <input class="form-control"  type="search" id="search" placeholder="Introduzca el libro deseado" aria-label="search" (keyup)="getOne(search_id_book.value)" #search_id_book>
        <button class="btn btn-success" (click)="getOne(id_book)">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </form>
  </div>


    <ng-container >
        <app-card *ngFor="let book of books; let even = even;" [book] = "book" [even] = "even" (delete) ="deleteCard($event)">X</app-card>
    </ng-container>

</div>


<ng-template #noHay>
    <div class="muestra_libros">
        <h4>No disponemos de este libro actualmente</h4>
    </div>
</ng-template>

