<main class="contenedor-tarjetas" *ngIf="books.length>0; else noHay">
 
  

    <ng-container *ngFor="let book of books; let even = even;">
        <app-card [book]="book" [even]="even" (titleBook) = "borrarCard($event)"></app-card>
    </ng-container>

</main>

<ng-template #noHay>
    <div class="contenedor-tarjetas">
        <h3>No se encontro el Libro</h3>
    </div>
</ng-template>

<div class="formulario">

    <form>

            <div class="titulo">
                <h2>Añadir Libro</h2>
            </div>

            <div class="formul">

                <input type="text" class="form-control" id="title" placeholder="Titulo" #title>

                <input type="text" class="form-control" id="type" placeholder="Tapa blanda/dura" #type>

                <input type="text" class="form-control" id="author" placeholder="Autor" #author>

                <input type="text" class="form-control" id="price" placeholder="Precio" #price>
        
                <input type="text" class="form-control" id="photo" placeholder="Photo" #photo>

                <input type="text" class="form-control" id="id_book" placeholder="Codigo" #id_book>

            </div>

            <button type="reset" class="btn btn-success" (click)="agregarBook(title.value, type.value, author.value, price.value, photo.value, id_book.value)">Insertar Libro</button>

    </form>
</div>


      
      
     