<form class="main-form">

    <div class="formulario" action="">

        <h1>Registrate</h1>
    
        <input id="title" type="text" class="input" required placeholder="Nombre">
        <input id="title" type="text" class="input" required placeholder="Apellido">
        <input id="title" type="email" class="input" required placeholder="email">
        <input id="title" type="url" class="input" required placeholder="url">
        <input id="title" type="password" class="input" required placeholder="contraseña">
        <input id="title" type="password" class="input" required placeholder="repetir contraseña">
        
        <button type="button" class="btn registro">Registrarse</button>
    
    </div>

</form>
