<div>

 <form class="caja1" action="">
    <div class="img-perfil">
        <img src= "{{profile.photo}}"  alt="" srcset="">
    </div>
    <h2 class="titleName">{{newUser.name}} {{newUser.last_name}} </h2>

    <div class="perfil">
        <h5 class="input">{{newUser.name}}</h5>
        <h5 class="input">{{newUser.lastname}}</h5>
        <h5 class="input">{{newUser.email}}</h5>
    </div>

 </form>

 <form class="caja2" action="">

  <h1>Editar Datos</h1>
  <input id="title" type="text" class="input" #newName required placeholder="Nombre">
  <input id="title" type="text" class="input" #newLastname required placeholder="Apellido">
  <input id="title" type="email" class="input" #newEmail required placeholder="email">
  <input id="title" type="url" class="input" #newPhoto required placeholder="url">

  <button class="boton_modificar" type="reset" (click)=modify (name.value, lastname.value, email.value, profile.photo.value)>
    
  </button>

 </form>




</div>
